.login-bg {
    width: 100%;
  min-height: 100vh;
  background-image: url("https://release.grantsforus.app/backLightLogin.0991d8aaf7f0c393.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}