<app-header></app-header>
<section class="header-section">
  <div class="row">
    <div class="col-lg-6">
      <h4>Calendar and Premium Newsletter (Add/Modify)</h4>
    </div>

    <div class="col-lg-6 d-flex justify-content-end header-btn">
      <button
        class="btn"
        *ngFor="let item of menuItems"
        [class.active]="activeItem === item"
        (click)="setActive(item)"
      >
        {{ item }}
      </button>
    </div>
  </div>
  <div *ngIf="activeItem === 'Calender Details'">
    <app-calendar-details></app-calendar-details>
  </div>
  <div *ngIf="activeItem === 'Geo Location'">
    <app-geo-location></app-geo-location>
  </div>
  <div *ngIf="activeItem === 'Focus Areas'">
    <app-focus-area></app-focus-area>
  </div>
  <div *ngIf="activeItem === 'Focus Groups'">
    <app-focus-groups></app-focus-groups>
  </div>
  <div *ngIf="activeItem === 'Counties'">
    <app-counties></app-counties>
  </div>
  <div *ngIf="activeItem === 'Seo/Social Media'">
    <app-seo-social></app-seo-social>
  </div>
</section>
