<app-header></app-header>
<section class="header-section">
  <div class="row mb-1">
    <div class="col-lg-6">
      <h4>Calendar and Premium Newsletter (Add/Modify)</h4>
    </div>

    <div class="col-lg-6 d-flex justify-content-end header-btn">
      <button
        class="btn"
        *ngFor="let item of menuItems"
        [class.active]="activeItem === item"
        (click)="setActive(item)"
      >
        {{ item }}
      </button>
    </div>
  </div>
  <div *ngIf="activeItem === 'Calender Details'">
    <form [formGroup]="opportunityForm" (ngSubmit)="onSave()">
      <div class="row mt-5">
        <!-- Left Side From Section -->
        <div class="col-md-6">
          <h5 class="section-title">Opportunity Detail</h5>
          <hr />
          <div class="form-group">
            <label>Title:</label>
            <input type="text" class="form-control" formControlName="title" placeholder="Title" />
          </div>

          <div class="form-group">
            <label>Link URL:</label>
            <input
              type="text"
              class="form-control"
              formControlName="linkUrl"
              placeholder="Friendly URL"
            />
          </div>

          <div class="form-group">
            <label>Post Date:</label>

            <input type="date" class="form-control date-input" formControlName="postDate" />
          </div>

          <div class="form-group deadline-group">
            <label>Deadline Date:</label>
            <input type="date" class="form-control date-input" formControlName="deadlineDate" />

            <div class="form-check ongoing-box">
              <input
                type="checkbox"
                class="form-check-input"
                formControlName="isOngoing"
                id="ongoing"
              />

              <label class="form-check-label" for="ongoing"> OnGoing Opportunity </label>
            </div>
          </div>

          <div class="form-group">
            <label>Short Info:</label>
            <textarea
              rows="3"
              class="form-control"
              formControlName="shortInfo"
              placeholder="Short Info"
            ></textarea>
          </div>

          <div class="form-group">
            <label>Donor Type:</label>
            <select class="form-control" formControlName="donorType">
              <option value="US Donors">US Donors</option>
              <!-- <option value="International">International</option> -->
            </select>
          </div>

          <div class="form-group">
            <label>Donor Agency:</label>
            <input
              type="text"
              class="form-control"
              placeholder="Search Donor Agency"
              formControlName="donorAgency"
            />
          </div>

          <div class="form-group">
            <label>Donor Agency (if not listed above):</label>
            <input
              type="text"
              class="form-control"
              formControlName="donorAgencyOther"
              placeholder="Doner Agency"
            />
          </div>

          <div class="form-group">
            <label>Grant Type:</label>
            <select class="form-control" formControlName="grantType">
              <option value="" disabled selected hidden>Select Grant Type..</option>
              <option>Awards and Prizes</option>
              <option>Fellowship</option>
              <option>Grant</option>
            </select>
          </div>

          <div class="form-group">
            <label>Grant Duration:</label>
            <select class="form-control" formControlName="grantDuration">
              <option value="" disabled selected hidden>Select Grant Duration..</option>
              <option>Less than 1 Year</option>
              <option>1 Year</option>
              <option>2 Year</option>
              <option>3 Year</option>
              <option>4 Year</option>
              <option>5 Year</option>
              <option>5–10 Years</option>
              <option>Grant Duration Not Mentioned</option>
            </select>
          </div>

          <div class="form-group">
            <label>Grant Size:</label>
            <select class="form-control" formControlName="grantSize">
              <option value="" disabled selected hidden>Select Grant Size..</option>
              <option>Not Available</option>
              <option>Under $10,000</option>
            </select>
          </div>

          <div class="form-group">
            <label>Image:</label>
            <input type="file" class="form-control" />
          </div>

          <div class="form-group">
            <label>Status:</label>
            <select class="form-control" formControlName="status">
              <option>Draft</option>
              <option>Published</option>
            </select>
          </div>
        </div>

        <!-- right Side Section text area  -->
        <div class="col-md-6">
          <h5 class="section-title">Letter Text</h5>
          <hr />
          <!-- <ckeditor [editor]="Editor" [config]="config" formControlName="letterText"> </ckeditor> -->

          <app-editor></app-editor>
        </div>

        <div class="buttons d-flex justify-content-between">
          <div>
            <button type="submit" class="btn btn-save" (click)="gotoPreview()">
              <i class="bi bi-eye"></i>Preview
            </button>
          </div>
          <div>
            <button type="submit" class="btn btn-save mx-2">
              <i class="bi bi-bookmark-check"></i>Save
            </button>
            <button type="button" class="btn btn-next" (click)="goToGeoLocation()">
              <i class="bi bi-fast-forward"></i>Next
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="activeItem === 'Geo Location'">
    <app-geo-location></app-geo-location>
  </div>
  <div *ngIf="activeItem === 'Focus Areas'">
    <app-focus-area></app-focus-area>
  </div>
  <div *ngIf="activeItem === 'Focus Groups'">
    <app-focus-groups></app-focus-groups>
  </div>
  <div *ngIf="activeItem === 'Counties'">
    <app-counties></app-counties>
  </div>
  <div *ngIf="activeItem === 'Seo/Social Media'">
    <app-seo-social></app-seo-social>
  </div>
</section>
