<app-header></app-header>

<section class="header-section">
  <div class="heading">
    <span>Calendar Opportunity</span>
  </div>
  <div class="header-sec">
    <div class="header-row">
      <!-- LEFT COLUMN -->
      <div class="header-left">
        <div class="search-box">
          <i class="fa-solid fa-magnifying-glass icons"></i>
          <input type="text" placeholder="Search" [(ngModel)]="searchText" />
        </div>

        <button class="filter-btn">
          <i class="bi bi-funnel mx-1"></i>
          <span>Filter</span>
        </button>
      </div>

      <!-- RIGHT COLUMN -->
      <div class="header-right">
        <div class="date-range-wrapper position-relative">
          <div class="input-group range-input" (click)="toggle()">
            <input
              class="form-control"
              readonly
              [value]="displayValue"
              placeholder="Select date range"
            />
            <button class="btn calendar-btn" type="button">
              <i class="bi bi-calendar3"></i>
            </button>
          </div>

          @if (open) {
            <div class="calendar-popup">
              <div class="d-flex gap-3">
                <ngb-datepicker
                  [(ngModel)]="fromDate"
                  (dateSelect)="onFromSelect($event)"
                  [navigation]="'select'"
                ></ngb-datepicker>

                <ngb-datepicker
                  [(ngModel)]="toDate"
                  (dateSelect)="onToSelect($event)"
                  [navigation]="'select'"
                  [minDate]="minToDate!"
                ></ngb-datepicker>
              </div>
            </div>
          }
        </div>
        <div>
          <button class="btn filter-btn">
            <!-- <i class="fa-light fa-file-export"></i> -->
            <i class="bi bi-file-arrow-down"></i>
            <span>Export</span>
          </button>
        </div>

        <div style="margin-right: 20px">
          <button class="btn filter-btn w-100" routerLink="/edit">
            <i class="fa-solid fa-plus"></i>
            Add New
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="table-wrapper border">
    <div class="table-responsive">
      <table class="custom-table">
        <thead>
          <tr>
            <th>
              <label class="custom-checkbox">
                <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll($event)" />
              </label>
            </th>
            <th>Opportunity</th>
            <th>Post Date</th>
            <th>Deadline</th>
            <th>View</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Copy</th>
          </tr>
        </thead>

        <tbody >
          <tr *ngFor="let item of grants">
            <td>
              <label class="custom-checkbox">
                <input type="checkbox" [(ngModel)]="item.selected" (change)="onItemChange()" />
              </label>
            </td>
            <td class="id-text">{{ item.grantTitle }}</td>
            <td>{{ item.postDate | date: 'dd MMM yyyy' }}</td>
            <td>{{ item.deadLineDate | date: 'dd MMM yyyy' }}</td>
            <td>{{ item.viewCount }}</td>
            <td>
              <span class="status" [ngClass]="item.status === 'Published' ? 'paid' : 'pending'">
                {{ item.status }}
              </span>
            </td>
            <td class="icon-cell" routerLink="/edit">
              <i class="bi bi-pencil-square"></i>
            </td>
            <td class="icon-cell">
              <i class="bi bi-copy"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="footer-section">
    <!-- LEFT -->
    <div class="footer-left">
      <span>Total records : {{ totalCount }}</span>

      <span class="mx-2">Rows per page:</span>

      <select class="page-select" [(ngModel)]="pageSize" (change)="changePage(1)">
        <option [value]="10">10</option>
        <option [value]="25">25</option>
        <option [value]="50">50</option>
      </select>
    </div>

    <!-- RIGHT -->
    <div class="footer-right">
      <!-- FIRST -->
      <button class="page-btn" (click)="changePage(1)">««</button>

      <!-- PREV -->
      <button class="page-btn" (click)="changePage(pageIndex - 1)">Prev</button>

      <!-- FIRST PAGE -->
      <button class="page-btn" [class.active]="pageIndex === 1" (click)="changePage(1)">1</button>

      <!-- DOTS -->
      <span *ngIf="pageIndex > 4">...</span>

      <!-- MIDDLE PAGES -->
      <button
        *ngFor="let p of visiblePages"
        class="page-btn"
        [class.active]="pageIndex === p"
        (click)="changePage(p)"
      >
        {{ p }}
      </button>

      <!-- DOTS -->
      <span *ngIf="pageIndex < totalPages - 3">...</span>

      <!-- LAST PAGE -->
      <button
        class="page-btn"
        [class.active]="pageIndex === totalPages"
        (click)="changePage(totalPages)"
      >
        {{ totalPages }}
      </button>

      <!-- NEXT -->
      <button class="page-btn" (click)="changePage(pageIndex + 1)">Next</button>

      <!-- LAST -->
      <button class="page-btn" (click)="changePage(totalPages)">»»</button>
    </div>
  </div>
</section>

<!-- <div ngbDropdown class="d-inline-block">
  <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
    Toggle dropdown
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button ngbDropdownItem>Action - 1</button>
    <button ngbDropdownItem>Another Action</button>
    <button ngbDropdownItem>Something else is here</button>
  </div>
</div> -->
